# WEB SCRAPING – ASSIGNMENT 4

1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url 
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A)
Rank 
B) Name 
C) Artist 
D) Upload date 
E) Views

In [12]:
#Import libraries
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

#import debugger
import re

#import BeautifulSoup
from bs4 import BeautifulSoup
import requests

#import time
import time

from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

In [13]:
#Connecting to the webdriver
driver=webdriver.Chrome()

In [14]:
#getting the webpage
url = ("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")
driver.get(url)

In [15]:
#Creating empty list for scraping data
Rank = []
Name = []
Artist = []
Date = []
Views = []

In [22]:
#Scraping rank of the videos
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]'):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("-")

#Scraping name of the videos
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]'):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("-")

#Scraping Artist of the videos
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[3]'):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("-")

#Scraping Date of the videos
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[4]'):
        Date.append(i.text)
except NoSuchElementException:
    Date.append("-")

#Scraping Views of the videos
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]'):
        Views.append(i.text)
except NoSuchElementException:
    Views.append("-")
    
# creating DataFrame for scraped data
Wiki = pd.DataFrame({})
Wiki['Rank'] = Rank
Wiki['Name'] = Name
Wiki['Artist'] = Artist
Wiki['Upload Date'] = Date
Wiki['Views (in Billions)'] = Views

# removing stray numbers from Name column
Wiki.Name = Wiki.Name.apply(lambda x:x[:-4].strip('"'))
Wiki

,Rank,Name,Artist,Upload Date,Views (in Billions)
0,"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Sto,"7,046,700,000","November 2, 2020","June 17, 2016"
1,"""Despacito""[10]",Luis F,"2,993,700,000","August 4, 2017","January 12, 2017"
2,"""See You Again""[23]",Wiz Kha,"2,894,000,000","July 10, 2017","April 6, 2015"
3,"""Gangnam Style""⁂[31]",,"803,700,000","November 24, 2012","July 15, 2012"
4,"""Baby""*[69]",Justin Bi,"245,400,000","July 16, 2010","February 19, 2010"
...,...,...,...,...,...
139,"""Myspace – The Movie""‡[97][98]",eg,"2,700,000","January 31, 2006","February 18, 2006"
140,"""Phony Photo Booth""‡[101]",mugen,"3,400,000","December 1, 2005","January 21, 2006"
141,"""The Chronic of Narnia Rap""‡[107]",youtube,"2,300,000","December 18, 2005","January 9, 2006"
142,"""Ronaldinho: Touch of Gold""‡*[110]",Nikeso,"255,000","October 21, 2005","October 31, 2005"
143,"""I/O Brush""‡*[116]",la,"247,000","October 5, 2005","October 29, 2005"

In [23]:
print(len(Rank),
len(Name),
len(Artist),
len(Date),
len(Views))

144 144 144 144 144

In [24]:
driver.close()

2. Scrape the details team India’s international fixtures from bcci.tv. 
Url = https://www.bcci.tv/. 
You need to find following details: 
A) Series 
B) Place 
C) Date 
D) Time 
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [28]:
driver=webdriver.Chrome()

In [29]:
url=("https://www.bcci.tv/")
driver.get(url)

In [30]:
bttn=driver.find_element(By.XPATH,'//div[@class="right-nav"]/a')
driver.get(bttn.get_attribute("href"))
time.sleep(3)

# creating empty lists for scraping the data
Match_Title = []
Series = []
Place = []
Date = []
Time = []

In [34]:
for i in driver.find_elements(By.XPATH,'//div[@class="tags-wrap"]/span[@class="matchOrderText ng-binding ng-scope t20-tag"]'):
    Match_Title.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]'):
    Series.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]/span[2]'):
    Place.append(i.text)
        
for i in driver.find_elements(By.XPATH,'//div[@class="match-date-info"]'):
    Date.append(i.text.replace('\n',' '))

date=[i.split(' ',3)[:3] for i in Date]
date=[' '.join(i) for i in date]
Time=[i.split(' ',3)[-1] for i in Date]

# creating data frame
fixture=pd.DataFrame({'Match Title': Match_Title,
                          "Series": Series,
                          "Place": Place,
                          "Date": date,
                          "Time": Time})
fixture

,Match Title,Series,Place,Date,Time
0,1st T20I,ICC MENS T20 WORLD CUP 2024,New York,"5 JUNE, 2024",8:00 PM IST
1,2nd T20I,ICC MENS T20 WORLD CUP 2024,New York,"9 JUNE, 2024",8:00 PM IST
2,3rd T20I,ICC MENS T20 WORLD CUP 2024,New York,"12 JUNE, 2024",8:00 PM IST
3,4th T20I,ICC MENS T20 WORLD CUP 2024,Florida,"15 JUNE, 2024",8:00 PM IST
4,1st T20I,INDIA TOUR OF ZIMBABWE 2024,Harare,"6 JULY, 2024",8:00 PM IST
5,2nd T20I,INDIA TOUR OF ZIMBABWE 2024,Harare,"7 JULY, 2024",8:00 PM IST
6,3rd T20I,INDIA TOUR OF ZIMBABWE 2024,Harare,"10 JULY, 2024",8:00 PM IST
7,4th T20I,INDIA TOUR OF ZIMBABWE 2024,Harare,"13 JULY, 2024",8:00 PM IST
8,5th T20I,INDIA TOUR OF ZIMBABWE 2024,Harare,"14 JULY, 2024",8:00 PM IST

In [35]:
len(url)

20

In [36]:
driver.close()

3. Scrape the details of State-wise GDP of India from statisticstime.com. 
Url = http://statisticstimes.com/ 
You have to find following details: A) Rank 
B) State 
C) GSDP(18-19)- at current prices 
D) GSDP(19-20)- at current prices 
E) Share(18-19) 
F) GDP($ billion) 
Note: - From statisticstimes home page you have to reach to economy page through code.

In [17]:
#Import libraries
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

#import debugger
import re

#import BeautifulSoup
from bs4 import BeautifulSoup
import requests

#import time
import time

from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

In [18]:
#Connecting to webdriver
driver=webdriver.Chrome()

In [19]:
#Getting the page of given url
url=("http://statisticstimes.com/")
driver.get(url)

In [20]:
#Clicking on economy button
ebtn=driver.find_element(By.XPATH,'//div[@class="navbar"]/div[2]/button').click()

#Clicking on INDIA button
ibtn=driver.find_element(By.XPATH,'//div[@class="dropdown-content"]/a[3]').click()

In [21]:
# clicking on GDP of Indian Economy
GDP = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a").click()
time.sleep(3)

In [22]:
#creating empty list
Rank = []
State = []
GSDP1 = []
GSDP2 = []
Share = []
GDP_billion = []

In [23]:
#Scraping Rank
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[1]'):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("-")
    
#Scraping State
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[2]'):
        State.append(i.text)
except NoSuchElementException:
    State.append("-")
    
#Scraping GSDP current price (19-20)
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[3]'):
        GSDP1.append(i.text)
except NoSuchElementException:
    GSDP1.append("-")
    
#Scraping GSDP current price (18-19)
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[4]'):
        GSDP2.append(i.text)
except NoSuchElementException:
    GSDP2.append("-")
    
#Scraping Share
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[5]'):
        Share.append(i.text)
except NoSuchElementException:
    Share.append("-")
    
#Scraping GDP $ billion
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[6]'):
        GDP_billion.append(i.text)
except NoSuchElementException:
    GDP_billion.append("-")

In [24]:
#Creating DataFrame from Scrapped Data
GDP = pd.DataFrame({})
GDP['Rank'] = Rank
GDP['State'] = State
GDP['GSDP at current price (19-20)'] = GSDP1
GDP['GSDP at current price (18-19)'] = GSDP2
GDP['Share'] = Share
GDP['GDP($ billion)'] = GDP_billion
GDP

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share,GDP($ billion)
0,1,Maharashtra,-,-,"3,108,022",13.17%
1,2,Tamil Nadu,"2,700,109","2,364,514","2,071,286",8.78%
2,3,Karnataka,"2,500,733","2,269,995","1,978,094",8.38%
3,4,Uttar Pradesh,"2,547,861","2,258,040","1,975,595",8.37%
4,5,Gujarat,-,"2,230,609","1,928,683",8.17%
...,...,...,...,...,...,...
61,29,Sikkim,-,"35,670","31,519",0.15%
62,30,Arunachal Pradesh,-,"35,555","31,420",0.15%
63,31,Nagaland,-,"30,957","26,924",0.13%
64,32,Mizoram,-,-,"24,293",0.12%
65,33,Andaman & Nicobar Islands,-,-,"9,209",0.04%

In [25]:
len(url)

27

In [26]:
driver.close()

4. Scrape the details of trending repositories on Github.com. 
Url = https://github.com/ 
You have to find the following details: 
A) Repository title 
B) Repository description 
C) Contributors count 
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [2]:
#Import libraries
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

#import debugger
import re

#import BeautifulSoup
from bs4 import BeautifulSoup
import requests

#import time
import time

from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

In [36]:
#Connecting to webdriver
driver=webdriver.Chrome()

In [37]:
#Getting the webpage of given url
url=("https://github.com/")
driver.get(url)

In [38]:
# getting explore button and clicking on it
explore = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/main/div[1]/nav/div/a[1]').click()

In [39]:
# selecting trending option
trend_url = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/main/div[1]/nav/div/a[3]')
urls = trend_url.get_attribute("href")
driver.get(urls)

In [44]:
# creating empty list
URLs = []
repository_title = []
Description = []
Language = []
lang = []

In [47]:
# fetching urls for each repository
repository = driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]//a')
for i in repository:
    URLs.append(i.get_attribute("href"))
    
# scraping Repository title data
title = driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')
for i in title:
    repository_title.append(i.text)
    
# scraping data from all repository page
for i in URLs:
    driver.get(i)
    time.sleep(5)
    
    # scraping Repository Description data 
    try:
        desc = driver.find_element(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
        Description.append(desc.text)
    except NoSuchElementException:
        Description.append('-')
        
        
    
    # scraping Languages used data
    try:
        for i in driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]//span[2]'):
            lang.append(i.text)
        Language.append(lang)
    except NoSuchElementException:
        Language.append('-')

In [48]:
# Data Framing
Github = pd.DataFrame({})
Github['Repository Title'] = repository_title
Github['Repository Description'] = Description
Github['Language Used'] = Language
Github

,Repository Title,Repository Description,Language Used
0,princeton-nlp / SWE-agent,-,[]
1,zyronon / douyin,-,[]
2,wandb / openui,-,[]
3,netease-youdao / QAnything,-,[]
4,intel-analytics / ipex-llm,-,[]
5,infiniflow / ragflow,-,[]
6,usebruno / bruno,-,[]
7,amlweems / xzbot,-,[]
8,rocketseat-education / nlw-unite-nodejs,-,[]
9,HardhatChad / ore,-,[]
10,pedroslopez / whatsapp-web.js,-,[]
11,microsoft / generative-ai-for-beginners,-,[]
12,ixartz / SaaS-Boilerplate,-,[]
13,PKUFlyingPig / cs-self-learning,-,[]
14,heyform / heyform,-,[]
15,HeyPuter / puter,-,[]
16,atherosai / ui,-,[]
17,gethomepage / homepage,-,[]
18,OneUptime / oneuptime,-,[]
19,OpenBMB / ChatDev,-,[]
20,airbnb / javascript,-,[]
21,apache / superset,-,[]
22,actions / runner-images,-,[]
23,firebase / firebase-ios-sdk,-,[]
24,jwasham / coding-interview-university,-,[]

In [49]:
driver.close()

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the 
following details: 
A) Song name 
B) Artist name 
C) Last week rank 
D) Peak rank 
E) Weeks on board 
 Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [50]:
#Import libraries
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

#import debugger
import re

#import BeautifulSoup
from bs4 import BeautifulSoup
import requests

#import time
import time

from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

In [61]:
#Connecting to webdriver
driver=webdriver.Chrome()

In [62]:
#Getting webpage of giver url
url = ("http://www.billboard.com/")
driver.get(url)

In [64]:
#Clicking on option button charts
charts=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a').click()

In [65]:
#Creating empty list
Song_Name = []
Artist_Name = []
Last_week_rank = []
Peak_rank = []
Weeks_on_board = []

In [66]:
#Getting url for top 100 songs
urls = driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]/span/a')
page_url = urls.get_attribute("href")
driver.get(page_url)
time.sleep(4)

In [69]:
# scraping data of song names
for i in driver.find_elements(By.XPATH,"/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[1]/h3"):
    Song_Name.append(i.text)
    
# scraping data of artist names
for i in driver.find_elements(By.XPATH,"/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[1]/span"):
    Artist_Name.append(i.text)
    
# scraping data of last week ranks
for i in driver.find_elements(By.XPATH,"/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[4]/span"):
    Last_week_rank.append(i.text)
    

# scraping data of peak ranks
for i in driver.find_elements(By.XPATH,"/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[5]/span"):
    Peak_rank.append(i.text)       
    
    
# scraping data of weeks on board
for i in driver.find_elements(By.XPATH,"/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[6]/span"):
    Weeks_on_board.append(i.text)

In [70]:
# creating dataframe for scraped data
billiboard = pd.DataFrame({})
billiboard['Name'] = Song_Name
billiboard['Artist'] = Artist_Name
billiboard['Last Week Rank'] = Last_week_rank
billiboard['Peak Rank'] = Peak_rank
billiboard['Weeks on board'] = Weeks_on_board
billiboard

,Name,Artist,Last Week Rank,Peak Rank,Weeks on board
0,Like That,"Future, Metro Boomin & Kendrick Lamar",-,1,1

In [71]:
driver.close()

6. Scrape the details of Highest selling novels. 
A) Book name 
B) Author name 
C) Volumes sold 
D) Publisher 
E) Genre 
 Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [10]:
driver=webdriver.Chrome()

In [11]:
url=("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")
driver.get(url)

In [13]:
# creating empty lists
Book_name = []
Author_name = []
Volumes_sold = []
Publisher = []
Genre = []


# scraping book names data
for i in driver.find_elements(By.XPATH,"//tbody//tr//td[2]"):
    Book_name.append(i.text)

    
# scraping author names data
for i in driver.find_elements(By.XPATH,"//tbody//tr//td[3]"):
    try:
        if i.text == '0' : raise NoSuchElementException
        Author_name.append(i.text)
    except NoSuchElementException:
        Author_name.append('-')
time.sleep(3)


# scraping data of volumes sold
for i in driver.find_elements(By.XPATH,"//tbody//tr//td[4]"):
    Volumes_sold.append(i.text)
    
    
# scraping data of publisher names
for i in driver.find_elements(By.XPATH,"//tbody//tr//td[5]"):
    Publisher.append(i.text)
    
    
# scraping  data of genre
for i in driver.find_elements(By.XPATH,"//tbody//tr//td[6]"):
    Genre.append(i.text)

In [14]:
# creating dataframe for scraped data
Novels = pd.DataFrame({})
Novels['Book Name'] = Book_name
Novels['Author'] = Author_name
Novels['Volume sold'] = Volumes_sold
Novels['Publisher'] = Publisher
Novels['Genre'] = Genre
Novels

,Book Name,Author,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [15]:
driver.close()

8. Details of Datasets from UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/ You 
have to find the following details: 
A) Dataset name 
B) Data type 
C) Task 
D) Attribute type 
E) No of instances 
F) No of attribute G) Year 
 Note: - from the home page you have to go to the Show All Dataset page through code.

In [12]:
#Import libraries
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

#import debugger
import re

#import BeautifulSoup
from bs4 import BeautifulSoup
import requests

#import time
import time

from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

In [13]:
# connecting to the web driver
driver=webdriver.Chrome()

In [14]:
# getting the webpage of mentioned in url
url = ("https://archive.ics.uci.edu/")
driver.get(url)

In [15]:
# fetching view all dataset button from the webpage
viewall_dataset = driver.find_element(By.XPATH,'//a[@class="btn-primary btn"]')
page_url = viewall_dataset.get_attribute("href")
driver.get(page_url)
time.sleep(3)

In [16]:
# fetching urls for each dataset
dataset_url = driver.find_elements(By.XPATH,"//p[@class='normal']//b/a")

urls = []
for i in dataset_url:
    urls.append(i.get_attribute("href"))

In [17]:
# creating empty lists
Dataset_name = []
Data_type = []
Task = []
Attribute_type = []
No_of_instances = []
No_of_attributes = []
Year = []

In [23]:
for i in urls:
    driver.get(i)
    time.sleep(3)
    
    
    # scraping  Dataset name
    try:
        dataset_name = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div[1]/div/div[2]/h2/a')
        Dataset_name.append(dataset_name.text)
    except NoSuchElementException:
        Dataset_name.append('-')
    time.sleep(3)
    
    
    
    # scraping data type
    try:
        data_type = driver.find_element(By.XPATH,'//p[@class="truncate"]')
        if data_type.text == "N/A": raise NoSuchElementException
        Data_type.append(data_type.text)
    except NoSuchElementException:
        Data_type.append('-')
    time.sleep(3)
    
    
    # scraping Task
    try:
        task = driver.find_element(By.XPATH,'//span[@class="truncate"]')
        if task.text == "N/A": raise NoSuchElementException
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('-')
    time.sleep(3)
    
    
    
    # scraping Attribute type
    try:
        attribute_type = driver.find_element(By.XPATH,'//span[@class="truncate"]')
        if attribute_type.text == "N/A": raise NoSuchElementException
        Attribute_type.append(attribute_type.text)
    except NoSuchElementException:
        Attribute_type.append('-')
    time.sleep(3)
    
    
    
    # scraping No of Instances
    try:
        instances = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr/td[4]")
        if instances.text == "N/A": raise NoSuchElementException
        No_of_instances.append(instances.text)
    except NoSuchElementException:
        No_of_instances.append('-')
    time.sleep(3)
    
    
    
    # scraping No of Arrtibutes
    try:
        attribute = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[4]")
        if attribute.text == "N/A": raise NoSuchElementException
        No_of_attributes.append(attribute.text)
    except NoSuchElementException:
        No_of_attributes.append('-')
    time.sleep(3)
    
    
    # scraping Year
    try:
        year = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[6]")
        if year.text == "N/A": raise NoSuchElementException
        Year.append(year.text[:4])
    except NoSuchElementException:
        Year.append('-')
    time.sleep(3)

In [24]:
# creating dataframe for scraped data
ML = pd.DataFrame({})
ML['Dataset Name'] = Dataset_name 
ML['Data Type '] = Data_type
ML['Task '] = Task 
ML['Attribute Type '] = Attribute_type 
ML['No of Instance '] = No_of_instances
ML['No of Attributes '] = No_of_attributes 
ML['Year '] = Year 
ML

Empty DataFrame
Columns: [Dataset Name, Data Type , Task , Attribute Type , No of Instance , No of Attributes , Year ]
Index: []